fieldset { 
	margin-top: 100px;
	margin-bottom: auto;
	height: 480px;
	width:450px; 
	font-size: 20px;
	font-family: cursive;
	background-color: #ADD8E6;
	margin-left: auto;
	margin-right: auto;  
	
}

legend
{ 
	background-color: #ADD8E6;
} 




#logo
{
	height: 30%;

}

#logoDiv{
	width: 200px;
	height: 40px;
	text-align: left;

}

#titleText{
	font-size: 45px;
	font-family: cursive;


}

#regDiv
{
	height: 220px;
	width: 400px;
	margin-top: 80px;
	
}

#sub
{
	margin-top: 20px;
	text-align: right;
} 